body {
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #181e2a;
}

/* --- Removing Default Styles --- */

body {
    margin: 0;
    padding: 0;
}

h1, h2 {
    padding: 0;
    margin: 0;
}

button {
    border: none;
}

/* --- Common Styles --- */

.header, .hero {
    padding: 64px;
    background-color: #181e2a;
    color: #e4e7eb;
}

/* Button Styles */
button {
    padding: 8px 32px;
    border-radius: 7px;
    font-weight: 600;
    font-size: 16px;
}

.primary {
    background-color: #3882f6;
    color: #e4e7eb;
}

.secondary {
    border: solid 2px #e4e7eb;
    background-color: transparent;
    color: #e4e7eb;
}

/* --- Header Styles --- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.header h1 {
    font-size: 24px;
}
.header ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
}
.header a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 300;
}

/* --- Hero Styles --- */
.hero {
    display: flex;
    align-items: center;
    gap: 48px;
    font-size: 18px;
    font-weight: 300;
}
.hero h2 {
    font-size: 48px;
}
.hero img {
    flex: 0;
    height: 200px;
}

/* --- Information Styles --- */
.information{
    padding: 48px;
    text-align: center;
}
.information h2 {
    font-size: 36px;
    font-weight: 900;
}
.information ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 28px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.information li {
    display: flex;
    flex-direction: column-reverse;
    max-width: 200px;
    padding-bottom: 24px;
}
.information img {
    border-radius: 10px;
    max-width: 100%;
}