body {
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #181e2a;
}

/* --- Removing Default Styles --- */

body, h1, h2, blockquote, p {
    margin: 0;
    padding: 0;
}
button {
    border: none;
}

/* --- Common Styles --- */

.header, .hero {
    padding: 64px;
    background-color: #181e2a;
    color: #e4e7eb;
}

.header, .hero, .information, .quote, .call-to-action, .footer {
    padding-left: 100px;
    padding-right: 100px;
}

/* Button Styles */
button {
    padding: 8px 32px;
    border-radius: 7px;
    font-weight: 600;
    font-size: 16px;
}

.primary {
    background-color: #3882f6;
    color: #e4e7eb;
}

.secondary {
    border: solid 2px #e4e7eb;
    background-color: transparent;
    color: white;
}

/* --- Header Styles --- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.header h1 {
    font-size: 24px;
}
.header ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
}
.header a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 300;
}

/* --- Hero Styles --- */
.hero {
    display: flex;
    align-items: center;
    gap: 48px;
    font-size: 18px;
    font-weight: 300;
}
.hero h2 {
    font-size: 48px;
}
.hero img {
    flex: 0;
    max-height: 200px;
}
.hero button {
    margin-top: 8px;
}

/* --- Information Styles --- */
.information{
    padding-top: 48px;
    padding-bottom: 48px;
    text-align: center;
}
.information h2 {
    font-size: 36px;
    font-weight: 900;
}
.information ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 28px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.information li {
    display: flex;
    flex-direction: column-reverse;
    max-width: 200px;
    padding-bottom: 24px;
}
.information img {
    border-radius: 10px;
    max-width: 100%;
}

/* --- Quote Styles --- */
blockquote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    background-color: #e4e7eb;
    padding-top: 72px;
    padding-bottom: 72px;
    display: flex;
    flex-direction: column;
}
.attribution {
    align-self: flex-end;
    font-weight: 600;
    font-size: 20px;
}

/* --- Call to Action Styles --- */
.call-to-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 48px;
    background-color: #3882f6;
    padding: 24px;
    border-radius: 10px;
    color: #e4e7eb
}
.call-to-action h2 {
    color: white;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 6px;
}

/* --- Footer Styles --- */
.footer {
    background-color: #181e2a;
    color: #e4e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.footer a {
    color: #e4e7eb;
}